@page
@model WebAppFront.Pages.Invitations.IndexModel
@{
    ViewData["Title"] = "Invitations";
}
<style>
    .invitation-box {
        border: 1px solid #ccc;
        padding: 10px;
        margin-bottom: 20px;
        background-color: #f9f9f9;
    }

    .invitation-header {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-bottom: 10px;
    }

    .invitation-date {
        font-weight: bold;
    }

    .invitation-description {
        margin-bottom: 10px;
    }

    .invitation-actions {
        display: flex;
        justify-content: flex-end;
    }
</style>

<h1>Invitations</h1>

@if (Model.Invitations.Any())
{
    @foreach (var invitation in Model.Invitations)
    {
        <div class="invitation-box">
            <div class="invitation-header">
                <h3>Invitation #@invitation.Id</h3>
                <span class="invitation-date">Dato: @invitation.Date</span>
                <h6>Inviteret af: @invitation.CreatedBy</h6>
            </div>
            <div class="invitation-description">
                <p>@invitation.Description</p>
            </div>
            <div class="invitation-actions">
                
                @if (User.IsInRole("Formand") || User.IsInRole("Bestyrelse"))
                {
                    @* <a asp-page="./Edit" asp-route-id="@invitation.Id" class="btn btn-primary">Edit</a> *@
                    <form method="post" asp-page-handler="Delete" asp-route-id="@invitation.Id" onsubmit="return confirm('Are you sure you want to delete this invitation?')">
                        <button type="submit" class="btn btn-danger">Delete</button>
                    </form>
                }
               
            </div>
        </div>
    }
}
else
{
    <p>Der er ingen nuværende invitationer</p>
}

<!--Authorize-->
@if(User.IsInRole("Formand") || User.IsInRole("Bestyrelse"))
{
    <a asp-page="./Create" class="btn btn-success">Create Invitation</a>
}


