@page
@model WebAppFront.Pages.Member.IndexModel
@{
    ViewData["Title"] = "Members";
}
<form method="post">
    <h1>Member List</h1>
    <h5>Dette er en gammel medlemsliste. Den indeholder dog funktioner, som kan bruges til test af systemet</h5>
    @if (Model.Members.Any())
    {
        <table>
            <thead>
                <tr>
                    <th>Id</th>
                    <th>Name</th>
                    <th>Address</th>
                    <th>Actions</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var member in Model.Members)
                {
                    <tr>
                        <td>@member.Id</td>
                        <td>@member.Name</td>
                        <td>@member.Address</td>
                        @if (User.IsInRole("Formand") || User.IsInRole("Bestyrelse"))
                        {
                            <td>
                                <a asp-page="./Edit" asp-route-id="@member.Id">Edit</a>
                                <form method="post" asp-page-handler="Delete" asp-route-id="@member.Id" onsubmit="return confirm('Are you sure you want to delete this member?')">
                                    <button type="submit" class="btn btn-danger">Delete</button>
                                </form>
                            </td>
                        }

                    </tr>
                }
            </tbody>
        </table>
    }
    else
    {
        <p>No members found.</p>
    }

    <!--Authorize-->
    @if (User.IsInRole("Formand") || User.IsInRole("Bestyrelse"))
    {
        <a asp-page="./Create">Opret Medlem</a>
    }



    <!-- <a asp-page="./Delete">Slet Medlem</a>-->
    <!--<a asp-page="./Index">Medlemmer</a>-->
</form>
